html{
    font-size: 62.5%;
    box-sizing: box-model;
}

h1{
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Chelsea Market', Arial, Helvetica, sans-serif;
    margin: 1rem auto;
}


nav{
    text-align: center;
}

nav a{
    display:inline-block;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    color: white;
    margin: 2rem 4rem;
    text-decoration: none;
    border-radius: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    width: 8rem;
    height: 4rem;
    vertical-align: middle;
}

nav a.Plan{
    background: #f8734c; 
}

nav a.Learn{
    background: #5cd3eb; 
}

nav a.Involved{
    background: #ffcd6a; 
}

#header-image{
    width: 15rem;
    border-radius: 50%;
}

.header-div{
    display: inline-block;
    /* border: 2px black solid; */
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

#footer-image{
    display: block;
    width: 100%;
    /* height: 15rem; */
    /* object-fit: cover; */
    height: auto;
    margin: 0 auto;
}

#footer-div{
    height: 20rem;
    overflow: hidden;
}

footer nav{
    background-color: #f9e7dd;
}

p{
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    line-height: 100%;
}

.icon-section{
    text-align: center;

}

.icon-section p{
    width: 30%;
    margin: 1rem auto 5rem auto;
}

.icon{
    width: 8rem;
}

#header-section{
    padding: 2rem 0;
    text-align: center;
}

#para1{
    background-color: #debba3;
    color: white;
    width: 80vw;
    padding: .2rem 2rem .2rem 2rem;
    margin: 0 auto 2rem auto;
}

.strong-text{
    font-weight: bold;
}

.header-div .tight{
    width: 55%;
    margin: 0 auto;
}

.special{
    width:50rem;
}

.special p{
    font-size: 1.2rem;
}